{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block body %}

{% if messages %} 
  <div id="notification-wrapper" class="fixed top-8 left-1/2 transform -translate-x-1/2 z-50">
    {% for message in messages %} 

        <div class="col-xl-6 offset-xl-3 overflow">
            <div class="alert alert-primary solid notification-message bg-indigo-600 text-white px-6 py-3 rounded-lg shadow-lg mb-3 animate-fade-in {{ message.tags }} alert-dismissible fade show">
                <button type="button" class="btn-close" onclick="this.parentElement.remove()" data-bs-dismiss="alert" aria-label="btn-close"><span><i class="fa-solid fa-xmark"></i></span>
                </button>
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1 mb-2 text-white">Notifications</h5>
                        <p class="mb-0">{{ message }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
  </div>
{% endif %}

<!--  -->
{% for i in CartSlider %}
<div class="breadcumb-wrapper" data-bg-src="{{ i.image.url }}">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">{{ i.name|safe }}</h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'homePage' %}">Home</a></li>
                <li>{{ i.name|safe }}</li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}

<!--  -->
<div class="th-cart-wrapper space-top space-extra-bottom">
    <div class="container">
        <div class="woocommerce-notices-wrapper">
            <div class="woocommerce-message">Shipping costs updated.</div>
        </div>
        {% if cart_items %}
            <table class="cart_table">
                <thead>
                    <tr>
                        <th class="cart-col-image">Image</th>
                        <th class="cart-col-productname">Product Name</th>
                        <th class="cart-col-price">Price</th>
                        <th class="cart-col-quantity">Quantity</th>
                        <th class="cart-col-total">Total</th>
                        <th class="cart-col-remove">Remove</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cart_items %}
                    <tr class="cart_item">
                        <td data-title="Product">
                            <a class="cart-productimage" href="shop_detail.html">
                                <img width="91" height="91" src="{{ item.product.image.url }}" alt="{{ item.product.title }}">
                            </a>
                        </td>

                        <td data-title="Name">
                            <a class="cart-productname" href="shop_detail.html">{{ item.product.title }}</a>
                        </td>

                        <td data-title="Price">
                            <span class="amount">${{ item.product.disPrice|intcomma }}</span>
                        </td>

                        <td data-title="Quantity">
                            <div class="quantity">
                                <form method="post" action="{% url 'add_to_cart' item.product.id %}">
                                    {% csrf_token %}
                                    <button class="quantity-minus qty-btn"><i class="far fa-minus"></i></button>
                                    <input type="number" name="quantity" class="qty-input" value="{{ item.quantity }}" min="1" max="99">
                                    <button type="submit" class="quantity-plus qty-btn"><i class="far fa-plus"></i></button>
                                </form>
                            </div>
                        </td>

                        <td data-title="Total">
                            <span class="amount">${{ item.total_price|floatformat:2|intcomma }}</span>
                        </td>
                        <td data-title="Remove">
                            <a href="{% url 'removeFromCart' item.id %}" class="remove">
                                <i class="fal fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="6" class="actions">
                            <a href="{% url 'shopPage' %}" class="th-btn rounded-2">Continue Shopping</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        {% else %}
                    <tr>
                        <td colspan="6" class="text-center">Your cart is empty</td>
                    </tr>
        {% endif %}
        <div class="row justify-content-end">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <h2 class="h4 summary-title">Cart Totals</h2>
                <table class="cart_totals">
                    <tbody>
                        <tr>
                            <td>Cart Subtotal</td>
                            <td data-title="Cart Subtotal"><span class="amount"><bdi><span>$</span>{{ cart_total|floatformat:2|intcomma }}</bdi></span>
                            </td>
                        </tr>
                        <tr class="shipping">
                            <th>Shipping and Handling</th>
                            <td data-title="Shipping and Handling">
                                <ul class="woocommerce-shipping-methods list-unstyled">
                                    <li><input type="radio" id="free_shipping" name="shipping_method"
                                            class="shipping_method"> <label for="free_shipping">Free
                                            shipping</label></li>
                                    <li><input type="radio" id="flat_rate" name="shipping_method"
                                            class="shipping_method" checked="checked"> <label for="flat_rate">Flat
                                            rate</label></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="order-total">
                            <td>Order Total</td>
                            <td data-title="Total"><strong><span
                                        class="amount"><bdi><span>$</span>{{ cart_total|floatformat:2|intcomma }}</bdi></span></strong></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="wc-proceed-to-checkout mb-30"><a href="{% url 'checkout' %}" class="th-btn rounded-2">Proceed
                        to checkout</a></div>
            </div>
        </div>
    </div>
</div>

<!--  -->
<div class="gallery-thumb-area">
    <div class="row gx-10 th-carousel" id="gallerySlide1" data-slide-show="8" data-ml-slide-show="7"
        data-lg-slide-show="6" data-md-slide-show="5" data-sm-slide-show="4" data-xs-slide-show="3"
        data-focuson-select="false">
        {% for i in Gallery %}
        <div class="col-auto">
            <div class="gallery-thumb"><img src="{{ i.image.url }}" alt="Gallery Image"> <a href="{{ i.image.url }}"
                    class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}