{% extends 'base.html' %}
{% load static %}

{% block body %}

{% if messages %} 
  <div id="notification-wrapper" class="fixed top-8 left-1/2 transform -translate-x-1/2 z-50">
    {% for message in messages %} 

        <div class="col-xl-6 offset-xl-3 overflow">
            <div class="alert alert-primary solid notification-message bg-indigo-600 text-white px-6 py-3 rounded-lg shadow-lg mb-3 animate-fade-in {{ message.tags }} alert-dismissible fade show">
                <button type="button" class="btn-close" onclick="this.parentElement.remove()" data-bs-dismiss="alert" aria-label="btn-close"><span><i class="fa-solid fa-xmark"></i></span>
                </button>
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1 mb-2 text-white">Notifications</h5>
                        <p class="mb-0">{{ message }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
  </div>
{% endif %}

<!--  -->
{% for i in NewDetailSlider %}
<div class="breadcumb-wrapper" data-bg-src="{{ i.image.url }}">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">{{ i.name|safe }}</h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'homePage' %}">Home</a></li>
                <li>{{ i.name|safe }}</li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}

<!--  -->
<section class="th-blog-wrapper blog-details space-top space-extra-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-lg-7">
                <div class="th-blog blog-single">
{% for i in NewDetail %}
                    <div class="blog-img"><img src="{{ i.image.url }}" alt="Blog Image"></div>
                    <div class="blog-content">
                        <div class="blog-meta"><a href=""><i class="fa-regular fa-user"></i>{{ i.name|safe }}</a>
                            <a href=""><i class="fa-light fa-calendar-days"></i>{{ i.date|safe }}</a> <a
                                href=""><i class="fa-regular fa-comments"></i>Comments({{ CommentCount }})</a> <a
                                href=""><i class="fa-regular fa-tag"></i>{{ i.food|safe }}</a>
                        </div>
                        <h2 class="blog-title">{{ i.title|safe }}</h2>
                        <p>{{ i.text1|safe }}</p>
                        <p>{{ i.text2|safe }}</p>
                        <p>{{ i.text3|safe }}</p>
                        <blockquote>
                            <p>{{ i.text4|safe }}</p><cite>{{ i.tag|safe }}</cite>
                        </blockquote>
                        <p>{{ i.text5|safe }}</p>
                        <p>{{ i.text6|safe }}</p>
                        <h3 class="h4 mt-30">{{ i.title1|safe }}</h3>
                        <p class="mb-25">{{ i.text7|safe }}</p>
                        <div class="th-video mb-30"><img src="{{ i.image1.url }}" alt="video"> <a
                                href="{{ i.link|safe }}" class="play-btn popup-video"><i
                                    class="fas fa-play"></i></a></div>
                        <p>{{ i.text8|safe }}
                        </p>
                        <p class="mb-0">{{ i.text9|safe }}</p>
                    </div>
{% endfor %}
                    <div class="share-links clearfix">
{% for i in NewDetailTag %}
                        <div class="row justify-content-between">
                            <div class="col-sm-auto"><span class="share-links-title">Tags:</span>
                                <div class="tagcloud"><a href="{% url 'menuPage' %}">{{ i.name|safe }}</a> <a href="{% url 'menuPage' %}">{{ i.name1|safe }}</a>
                                </div>
                            </div>
                            <div class="col-sm-auto text-xl-end"><span class="share-links-title">Share:</span>
                                <ul class="social-links">
                                    <li><a href="{{ i.fb|safe }}" target="_blank"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="{{ i.x|safe }}" target="_blank"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li><a href="{{ i.linkIn|safe }}" target="_blank"><i
                                                class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="{{ i.ig|safe }}" target="_blank"><i
                                                class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
{% endfor %}
                    </div>
                </div>
                <div class="th-comments-wrap">
                    <h2 class="blog-inner-title h3">Comments ({{ CommentCount }})</h2>
                    <ul class="comment-list">
                        {% for comment in Comments %}
                        <li class="th-comment-item">
                            <div class="th-post-comment">
                                <div class="comment-avater">
                                    {% if comment.user.profile.image %}
                                        <img src="{{ comment.user.profile.image.url }}" alt="{{ comment.user.username }}">
                                    {% else %}
                                        <img src="{% static 'admin/images/no-img-avatar.png' %}" alt="{{ comment.user.username }}">
                                    {% endif %}
                                </div>
                                <div class="comment-content">
                                    <span class="commented-on">{{ comment.created_at|date:"d M, Y" }}</span>
                                    <h3 class="name">{{ comment.user.username }}</h3>
                                    <p class="text">{{ comment.content }}</p>
                                    <div class="reply_and_edit">
                                        <a href="{% url 'post_reply' comment.id %}" class="reply-btn">Reply</a>
                                    </div>
                                </div>
                            </div>

                            {% if comment.replies.all %}
                            <ul class="children">
                                {% for reply in comment.replies.all %}
                                <li class="th-comment-item">
                                    <div class="th-post-comment">
                                        <div class="comment-avater">
                                            {% if reply.user.profile.image %}
                                                <img src="{{ reply.user.profile.image.url }}" alt="{{ reply.user.username }}">
                                            {% else %}
                                                <img src="{% static 'admin/images/no-img-avatar.png' %}" alt="{{ reply.user.username }}">
                                            {% endif %}
                                        </div>
                                        <div class="comment-content">
                                            <span class="commented-on">{{ reply.created_at|date:"d M, Y" }}</span>
                                            <h3 class="name">{{ reply.user.username }}</h3>
                                            <p class="text">{{ reply.content }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="th-comment-form">
                    <div class="form-title">
                        <h3 class="blog-inner-title mb-0">Leave a Comment</h3>
                        <p class="form-text">Your email address will not be published. Required fields are marked *</p>
                    </div>
                    <form method="post" action="{% url 'post_comment' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 form-group">
                                {{ form.content }}  <!-- Render the form field here -->
            <i class="fal fa-pencil"></i>
                            </div>
                            <div class="col-12 form-group mb-0">
                                <button class="th-btn rounded-2" type="submit">Post Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-5">
                <aside class="sidebar-area">
                    <div class="widget widget_search">
                        <form class="search-form">
                            <input type="text" placeholder="Search..." />
                            <button type="submit"><i class="far fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widget_title">Categories</h3>
                        <ul>
                            <li>
                                <img class="icon" src="{% static 'assets/img/icon/category_1_1.svg' %}" alt="icon" />
                                <a href="blog.html">Burger</a> <span>{{ categories1 }}</span>
                            </li>
                            <li>
                                <img class="icon" src="{% static 'assets/img/icon/category_1_2.svg' %}" alt="icon" />
                                <a href="blog.html">Pizza</a> <span>{{ categories2 }}</span>
                            </li>
                            <li>
                                <img class="icon" src="{% static 'assets/img/icon/category_1_3.svg' %}" alt="icon" />
                                <a href="blog.html">Combo</a> <span>{{ categories3 }}</span>
                            </li>
                            <li>
                                <img class="icon" src="{% static 'assets/img/icon/category_1_4.svg' %}" alt="icon" />
                                <a href="blog.html">Chicken</a> <span>{{ categories5 }}</span>
                            </li>
                            <li>
                                <img class="icon" src="{% static 'assets/img/icon/category_1_5.svg' %}" alt="icon" />
                                <a href="blog.html">Drinks</a> <span>{{ categories6 }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <div class="author-widget-wrap">
{% for i in Profile %}
                            <div class="avater">
                                <img src="{{ i.image.url }}" alt="avater" />
                            </div>
                            <div class="author-info">
                                <h4 class="name">
                                    <a class="text-inherit" href="classes.html">{{ i.name|safe }}</a>
                                </h4>
                            </div>
                            <p class="author-bio">
                                {{ i.description|safe }}
                            </p>
                            <div class="author-social">
                                <a href="{{ i.fb|safe }}"><i class="fab fa-facebook-f"></i></a>
                                <a href="{{ i.x|safe }}"><i class="fab fa-twitter"></i></a>
                                <a href="{{ i.p|safe }}"><i class="fab fa-pinterest-p"></i></a>
                                <a href="{{ i.linkIn|safe }}"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            
{% endfor %}
                        </div>
                    </div>
                    <div class="widget">
                        <h3 class="widget_title">Recent Posts</h3>
                        <div class="recent-post-wrap">
{% for i in Post %}
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="{% url 'newDetailPage' %}"><img src="{{ i.image.url }}"
                                            alt="Blog Image" /></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title">
                                        <a class="text-inherit" href="{% url 'newDetailPage' %}">{{ i.name|safe }}</a>
                                    </h4>
                                    <div class="recent-post-meta">
                                        <a href="{% url 'newDetailPage' %}"><i class="fal fa-calendar-days"></i>{{ i.date|safe }}</a>
                                    </div>
                                </div>
                            </div>
{% endfor %}
                        </div>
                    </div>
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget_title">Popular Tags</h3>
                        <div class="tagcloud">
{% for i in tag %}
                            <a href="{% url 'menuPage' %}">{{ i.name|safe }}</a>
{% endfor %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

<!--  -->
<div class="gallery-thumb-area">
    <div class="row gx-10 th-carousel" id="gallerySlide1" data-slide-show="8" data-ml-slide-show="7"
        data-lg-slide-show="6" data-md-slide-show="5" data-sm-slide-show="4" data-xs-slide-show="3"
        data-focuson-select="false">
        {% for i in Gallery %}
        <div class="col-auto">
            <div class="gallery-thumb"><img src="{{ i.image.url }}" alt="Gallery Image"> <a href="{{ i.image.url }}"
                    class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}