{% load static %}
<!--**********************************
            Sidebar start
        ***********************************-->
		<div class="dlabnav">
			<div class="dlabnav-scroll">
				<ul class="metismenu" id="menu">
					<li><a class="" href="{% url 'admin_dashboard' %}" aria-expanded="false">
							<i class="material-symbols-outlined">home</i>
							<span class="nav-text">Dashboard</span>
						</a>
					</li>
					<li><a class=" " href="{% url 'OrderList' %}" aria-expanded="false">
							<i class="material-symbols-outlined">table_chart</i>
							<span class="nav-text">Order List</span>
						</a>
					</li>
					<li><a class=" " href="{% url 'bookATableList' %}" aria-expanded="false">
							<i class="material-symbols-outlined">table_chart</i>
							<span class="nav-text">BookTable List</span>
						</a>
					</li>
					<li><a class=" " href="{% url 'CategoryList' %}" aria-expanded="false">
							<i class="material-symbols-outlined">category</i>
							<span class="nav-text">Category</span>
						</a>
					</li>
					<li><a class=" " href="{% url 'ProductList' %}" aria-expanded="false">
							<i class="material-symbols-outlined">widgets</i>
							<span class="nav-text">Product</span>
						</a>
					</li>
					<li><a class=" " href="{% url 'ProductDetailList' %}" aria-expanded="false">
							<i class="material-symbols-outlined">app_registration</i>
							<span class="nav-text">ProductDetail</span>
						</a>
					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
							<i class="material-symbols-outlined">article</i>
							<span class="nav-text">HomePage</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="{% url 'MainSliderList' %}">MainSlider</a></li>
							<li><a href="{% url 'AboutList' %}">About</a></li>
							<li><a href="{% url 'AboutItemList' %}">AboutItem</a></li>
							<li><a href="{% url 'PromotionList' %}">Promotion</a></li>

						</ul>

					</li>
                    
				</ul>
				<div class="copyright">
					<p><strong>School Admission Dashboard</strong></p>
					<p class="fs-12">Made with <span class="heart"></span> by DexignLab</p>
				</div>
			</div>
		</div>
		<!--**********************************
            Sidebar end
        ***********************************-->